/* Light Theme */
.light-mode {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text */
}

/* Dark Theme */
.dark-mode {
  background-color: #1f2023; /* Dark background */
  color: #ffffff; /* Light text */
}

/* Common styles */
.container {
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}